/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  background: #e7c4d8 url('public/bg.png') center/cover fixed;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(to right, 
    rgba(254,239,248,0.1), 
    rgba(155,188,236,0.1), 
    rgba(177,193,219,0.1), 
    rgba(253,238,247,0.1));
  padding: 1em;
  border-radius: 5px;
  backdrop-filter: blur(12px);
}

nav ul li a {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #F9F9FF;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  background: linear-gradient(to bottom, 
    rgba(255,255,255,0.15) 0%, 
    rgba(255,255,255,0.05) 100%
  );
  box-shadow: 
    0 1px 3px rgba(0,0,0,0.12), 
    0 1px 2px rgba(0,0,0,0.24),
    inset 0 1px 1px rgba(255,255,255,0.5),
    inset 0 -1px 1px rgba(0,0,0,0.1);
  backdrop-filter: blur(12px);
  text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(79, 115, 150, 0.3);
}

/* Video Container */
.video-container {
  position: relative;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* PDF Container */
.pdf-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* New Footer */
.new-footer {
  text-align: center;
  padding: 1.5em;
  background: rgba(224,222,238, 0.15);
  border-radius: 5px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  position: relative;
  z-index: 10;
}

.new-footer ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
  list-style: none;
}

.new-footer a {
  color: var(--darkblue);
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  transition: all 0.3s ease;
  text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(79, 115, 150, 0.3);
}

.new-footer a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  .new-footer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}